@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	min-width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #333;
	line-height: 1;
}

body {
	background-color: #000;
	/* margin: 0; */
	position: relative;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #111;
}

a {
	color: #27d;
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(120, 0, 180, 1);
	text-decoration: none;
}

a img{
	border: none 0px #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	letter-spacing: 1px;
	overflow-wrap: normal;
}

header {
	font-family: Arial, Helvetica, sans-serif;
	border-color: #111;
	border-style: solid;
	border-width: 0 0 2px 0;
}

footer {
	border-color: #111;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-radius: 0 0 30px 30px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
	display: flex;
	flex-direction: column;
	background-color: #333;
	min-height: 100%;
}

#footer {
	background-color: #555;
	color: #222;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

.app-container {
	border: 2px solid #111;
	box-shadow: 0 0 25px 5px #27d;
	border-radius: 30px;
	margin: 12px;
}

/* ====================== Navigation ====================== */
nav {
	width: 100%;
	height: auto;
	/* background-color: #555; */
	text-align:center;
	border-radius: 30px 30px 0 0;
}

nav h1 {
	margin: auto;
	padding: 10px 10px;
	text-align: center;
}

nav h1 a {
	color: #27d;
	font-size: 22pt;
	font-weight: bold;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-shadow:
		0.5px 0.5px 0.75px rgba(0, 0, 0, 1),
		-0.5px -0.5px 0.75px rgba(0, 0, 0, 1),
		-0.5px 0.5px 0.75px rgba(0, 0, 0, 1),
		0.5px -0.5px 0.75px rgba(0, 0, 0, 1),
		1px 1px 0.75px rgba(0, 0, 0, 1),
		-1px -1px 0.75px rgba(0, 0, 0, 1),
		-1px 1px 0.75px rgba(0, 0, 0, 1),
		1px -1px 0.75px rgba(0, 0, 0, 1),
		1.75px 1.75px 1.5px rgba(0, 0, 0, 1),
		-1.75px -1.75px 1.5px rgba(0, 0, 0, 1),
		-1.75px 1.75px 1.5px rgba(0, 0, 0, 1),
		1.75px -1.75px 1.5px rgba(0, 0, 0, 1)
}

.header-shade {
	background-image: linear-gradient(-27deg, rgba(30, 30, 30, 1) 88%, rgb(255, 255, 255) 115%);
}

#breadcrumb {
	padding: 10px 0;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
	margin: 0;
	width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #27d;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #27d;
	text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
	height: 350px;
	width: 100%;
	background-color: #ccc;
}

.leaflet-container {
	filter: invert(90%) contrast(1.2);
}

.leaflet-control-attribution {
	opacity: 0;
}

.leaflet-tile-container {
	filter: hue-rotate(280deg);
}

.leaflet-shadow-pane {
	filter: invert(100%) contrast(2.5);
}

.leaflet-marker-pane {
	filter: hue-rotate(-105deg) brightness(2.1) contrast(1);
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
	height: auto;
	background-color: #555;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-width: 2px 0;
	border-style: solid;
	border-color: #111;
	padding: 10px 31px;

}

.filter-options h2 {
	display: none;
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.1;
	margin: 0 10px;
	padding-top: 10px;
}

.filter-options select {
	flex-basis: 45%;
	background-color: #bbb;
	border: 2px solid #111;
	border-radius: 7px;
	padding: 5px;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	min-width: 220px;
	margin: 5px 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	background-color: #313131;
	list-style: outside none none;
	margin: 0;
	justify-content: center;
}

#restaurants-list li {
	border-top-left-radius: 35px;
    background-image: linear-gradient(0deg, rgba(170, 170, 170, 0.9) 70%, rgba(245, 245, 245, 0.8) 74%);
    background-blend-mode: normal;
    border-style: none;
    max-width: 280px;
    min-height: 315px;
    min-width: 240px;
    font-family: Arial,sans-serif;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgb(7, 6, 6) 2px 4px 11px 0px;

	/*
	Add media queries here to make list item widths scale dynamically with browser.
	Start with the smallest size, and work upwards.
	*/

}

#restaurants-list .restaurant-img {
	border-top-left-radius: 28px;
	background-color: rgb(255, 255, 255, 0.28);
	background-blend-mode: normal;
	max-width: 100%;
	filter: grayscale(100%) contrast(125%);
}

#restaurants-list li h1 {
	background-image: linear-gradient(-27deg, rgb(11, 11, 11, 0.9) 40%, rgba(0, 0, 0, 0.8) 83%, rgba(255, 255, 255, 0.8) 111%);
	background-blend-mode: normal;
	margin: 0px;
	text-align: center;
    height: 18%;
    overflow: hidden;
    top: 0px;
    position: absolute;
    width: 100%;
    color: #27d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
	letter-spacing: 0.8px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
	text-shadow:
		0.5px 0.5px 0.75px rgba(0, 0, 0, 1),
		-0.5px -0.5px 0.75px rgba(0, 0, 0, 1),
		-0.5px 0.5px 0.75px rgba(0, 0, 0, 1),
		0.5px -0.5px 0.75px rgba(0, 0, 0, 1),
		1px 1px 0.75px rgba(0, 0, 0, 1),
		-1px -1px 0.75px rgba(0, 0, 0, 1),
		-1px 1px 0.75px rgba(0, 0, 0, 1),
		1px -1px 0.75px rgba(0, 0, 0, 1),
		1.75px 1.75px 1.5px rgba(0, 0, 0, 1),
		-1.75px -1.75px 1.5px rgba(0, 0, 0, 1),
		-1.75px 1.75px 1.5px rgba(0, 0, 0, 1),
		1.75px -1.75px 1.5px rgba(0, 0, 0, 1)
}

#restaurants-list p {
	font-size: 12pt;
	margin: 5px;
	width: 200px;
	overflow-wrap: normal;
}

#restaurants-list li a {
	background-color: rgba(50, 0, 85, 1);
	color: #27d;
	height: 10%;
	display: block;
	width: 100%;
	font-size: 15pt;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 12px;
	position: absolute;
	bottom: 0px;
}

/* ====================== Restaurant Details ====================== */
/* .inside header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
} */

.inside #map-container {
	background: #27d none repeat scroll 0 0;
	height: 87%;
	right: 0;
	top: 80px;
	width: 100%;
}

/*
.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}
 */

/*
.inside #footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}
 */

#restaurant-name {
	color: #27d;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
	width: 100%;
    text-align: center;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
	font-size: 16pt;
	margin: 10px;
	color: #999;
	text-align: center;
	flex-basis: 50%;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#restaurant-container,
#reviews-container {
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
	width: 100%;
}

#reviews-container {

}

#reviews-container h2 {
	color: #27d;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
}


#reviews-list {
	padding-inline-start: 0px;
}


#reviews-list li {
	background-color: #fff;
	border: 2px solid #111;
	display: block;
	list-style-type: none;
	overflow: hidden;
}

#reviews-list li p {

}

#hours-and-location-container {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: space-around;

}

#restaurant-hours {
	max-width: 475px;
	flex-basis: 50%;

}

#restaurant-hours tr {

}

#restaurant-hours td {

	color: #666;
}
